* {
    font-family: 'Poppins';
}


body {
    margin: 0;
    overscroll-behavior: none;
    background: lightcyan;
    font-family: 'Poppins';
    overflow-x: hidden;
}


nav {
    background-color: salmon;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 60px;
    font-size: 20px;
    border: 1px solid white;
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


.search img {
    position: absolute;
    top: 35px;
    width: 35px;
    height: 35px;

}

.fa.fa-shopping-cart {
    position: absolute;
    top: 32.5px;
    width: 40px;
    height: 40px;
    color: black;
}

.fa.fa-shopping-cart span {
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 45px;
    top: 17px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.search img {
    flex-basis: calc(20% - 60px);
    margin: 10px 40px;
    text-align: center;
    right: 75px;
}

.fa.fa-shopping-cart {
    flex-basis: calc(20% - 60px);
    margin: 10px 40px;
    text-align: center;
    right: 0px;
}

.title img {
    width: 275px;
    position: absolute;
    left: 40%;
    top: 10px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.product-info {
    position: absolute;
    width: 50%;
    left: 40%;
    top: 235px;
}
.product-image img {
    height: 250px;
    position: relative;
    right: 150px;
    top: 50px;

}

.product-info {
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    width: 800px;
}

p {
    margin-bottom: 10px;
    text-align:justify;
    font-size: larger;
    width: 640px;
}

button {
    background-color: salmon;
    border: 3px solid black;
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    width: 225px;
    text-align: center;
    margin-left: 200px;
}

footer {
    position: relative;
    padding: 20px;
    font-size: 16px;
    top: 200px;
}

nav li {
    margin-top: 10px;
}


@media only screen and (max-width: 1150px) {
    .product-image img {
        left: -7.5%;

    }
}

@media only screen and (max-width: 1100px) {
    .product-info h1 {
        width: 400px;
    }

    .product-info p {
        width: 500px;

    }

    nav li {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 900px) {

    .product-image img {
        top: -75px;
        left: 20%;
    }

    .product-info h1 {
        width: 500px;
    }

    .product-info {
        top: 500px;
        left: 20%;
    }

    .title img {
        left: 15%;
    }

    nav li {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 900px) {

    .product-image img {
        top: -100px;
        left: 2.5%;
    }

    .product-info h1 {
        width: 400px;
    }

    .product-info {
        top: 500px;
        left: 5%;
        font-size: 15px;
        width: 100px;
    }

    .product-info p {
        width: 400px;
    }

    .title img {
        left: 15%;
    }

    nav li {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 375px) {
    .product-image img {
        height: 125px;
    }

    .product-info {
        top: 1050px;
        left: 5%;
        font-size: 15px;
    }

    .product-info p {
        width: 200px;
    }

    .title img {
        position: absolute;
        left: -20%;
        width: 125px
    }

    nav li {
        margin-top: 10px;
    }


}
