* {
    font-family: 'Poppins';
}

body {
    margin: 0;
    overscroll-behavior: none;
    background: lightcyan;
}


nav {
    background-color: salmon;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 60px;
    font-size: 20px;
    border: 1px solid white;
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


.search img {
    position: absolute;
    top: 35px;
    width: 35px;
    height: 35px;

}

.fa.fa-shopping-cart {
    position: absolute;
    top: 32.5px;
    width: 40px;
    height: 40px;
    right: 100px;
    color: black;
}

.fa.fa-shopping-cart span {
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 45px;
    top: 17px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.search img {
    flex-basis: calc(20% - 60px);
    margin: 10px 40px;
    text-align: center;
    right: 75px;
}

.fa.fa-shopping-cart {
    flex-basis: calc(20% - 60px);
    margin: 10px 40px;
    text-align: center;
    right: 0px;
}



.title img {
    width: 275px;
    position: absolute;
    left: 40%;
    top: 10px;
}

.container,
.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
    font-weight: bolder;
}

.product-title {
    width: 45%;
    font-weight: bolder;
}


.product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.product img {
    width: 100px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price,
.quantity,
.total {
    display: flex;
    align-items: center;
}

.price {
    width: 15%;
}

.quantity {
    width: 30%;
}

.total {
    width: 10%;
}


.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;

}

.basketTotalTitle {
    width: 30%;
    border: 1px solid black;
    border-right: transparent;
    padding: 5px;
}

.basketTotal {
    width: 10%;
    border: 1px solid black;
    padding: 15px;


}
